body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6d6d6d;
  font-size: 14px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6d6d6d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-signin {
  width: 100%;
  max-width: 620px;
  padding: 15px;
  margin: auto;

}

.form-inner {
  margin: auto;
  width: 70%;
}

.container .form-signin h3 {
  margin-top: 10px;
  margin-bottom: 22px;
}

.btn-override {
  background: #dc3545b8 !important;
  border: 2px solid #dc354526 !important;
  margin-top: 10px;
  padding: 5px 35px 5px 35px !important;
}

.btn-width {
  font-weight: bold;
  width: 40%;
}

.table-dark {
  background: #dc354554 !important;
}
.table-dark th,
.table-dark td,
.table-dark thead th {
  border: 1px solid #dc354526 !important;
}

.c-error,
.c-validation {
  color: #a70615e6;
  text-align: left;
  font-weight: 500;
}
.center-align {
  text-align: center;
  padding-bottom: 14px;
}

/***********Nav Bar Css************/

/* change the background color */
.navbar-custom {
  background-color: #007bff;
  color: #fff !important;
}

.navbar-custom a {
  font-size: 14px;
  padding: 0.5rem 1rem !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff !important;
  padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: #fff !important;
  padding: 0.5rem 1.5rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff !important;
  background-color: #0059b9; /* add background-color to active links  ee4400 */
}

.table th,
.table td {
  padding: 0.22rem !important;
}

.styles_modal__gNwvD {
  width: 100%;
}

*[role="form"] {
  
  padding: 15px;
  margin: 0 auto;
  border-radius: 0.3em;
 
}

*[role="form"] h2 { 
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
